In [1]:
import pandas as pd
import numpy as np

### Load datasets

In [2]:
events_prepared_df = pd.read_pickle("data/02_events_prepared_df.pkl")

In [3]:
train_sessions = pd.read_pickle("data/02_train_sessions.pkl")

In [4]:
test_sessions = pd.read_pickle("data/02_test_sessions.pkl")

### Data Exploration

* The **timestamp** portion is in Unix Epoch format e.g. 1433221332117 will be converted to Tuesday, 2 June 2015 5:02:12.117 AM GMT
* **visitorid** is the unique user currently browsing the website
* **event** is what the user is currently doing in that current timestamp
* **transactionid** will only have value if the user made a purchase as shown below

In [5]:
train_sessions.head()

    timestamp  visitorid event  itemid  transactionid  sessionid
0  1435607175         75  view  257575            NaN         98
1  1435607242         75  view  257575            NaN         98
2  1435609434         75  view  257575            NaN         99
3  1435609596         75  view  257575            NaN         99
4  1435609771         75  view  257575            NaN         99

In [6]:
# Type of interactions / events
print("Train interactions: ", train_sessions.event.unique())
print("Test interactions: ", test_sessions.event.unique())

Train interactions:  ['view' 'addtocart' 'transaction']
Test interactions:  ['view' 'addtocart' 'transaction']

In [7]:
print("Interactions without transactionid: ", train_sessions[train_sessions.transactionid.notnull()].event.unique())
print("Interactions with transactionid: ", train_sessions[train_sessions.transactionid.isnull()].event.unique())

Interactions without transactionid:  ['transaction']
Interactions with transactionid:  ['view' 'addtocart']

In [8]:
# TODO